@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Publications>

<main>
    <!--? Hero Start -->
    <div class="slider-area2" style="background-image: url('https://www-file.huawei.com/-/media/corp2020/media-center/image/transform/all-issues-cover/banner-all-issue-pc.jpg');">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                       
                        <div class="hero-cap hero-cap2 pt-70" >
                            <h2>Publications</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                                    <li class="breadcrumb-item"><a asp-action="Publications">Publications</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!-- Publications Section Start -->
    <section class="publications-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   
                    <div class="publication-list ">
                        @foreach (var publication in Model)
                        {
                            <div class="publication-item mt-4">
                                @* <h3>@publication.Title</h3>
                                <p><strong>Author:</strong> @publication.Author</p> *@
                                
                                @Html.Raw(publication.Content)
                                <a class="btn header-btn mt-4" href="@publication.JournalLink" target="_blank">Find Out More </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Publications Section End -->



    <!--Card-->
    @* <section class="publications-section">
        <div class="container">
            <div class="row">
                @foreach (var publication in Model)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card mt-4">
                            <div class="card-body">
                                <h5 class="card-title">@publication.Title</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Author: @publication.Author</h6>
                                <p class="card-text">@Html.Raw(publication.Content)</p>
                                <a href="@publication.JournalLink" target="_blank" class="card-link">Find Out More</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section> *@

    
</main>